.chart{
    -fx-vertical-grid-lines-visible: false;
    -fx-horizontal-grid-lines-visible: false;
    -fx-vertical-zero-line-visible: false;
    -fx-horizontal-zero-line-visible: false;
    
}
#line .chart-plot-background {
    -fx-border-color: transparent; 
    -fx-border-style: solid; 
    -fx-border-width: 4px;
    -fx-border-insets: -2, -2, 0, 0;
    -fx-background-color: transparent;

}

#scatter .chart-plot-background{
    -fx-border-color:black;
    -fx-border-style:solid;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
}

.default-color2.chart-symbol{
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color3.chart-symbol{
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.chart-symbol { 
    -fx-background-radius: 5px;
    -fx-padding: 5px;
        -fx-background-insets: 0, 2;
    /*-fx-shape: "M0,0 l10,0";*/
}

.chart-series-line{
    -fx-stroke:transparent;
}


#algorithm{
    -fx-stroke: #B22222;
}

.axis{
    -fx-stroke: black;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
    -fx-tick-label-fill: brown;
    -fx-border-color: transparent;
}
.axis-tick-mark {
    -fx-stroke: forestgreen;
    -fx-stroke-width: 3; 
}
.axis-minor-tick-mark {
    -fx-stroke: grey;
}

#list-heading{
     -fx-background-color: black;
     -fx-padding: 5 10 5 5;
     -fx-text-fill: white;
     -fx-font-weight: bold;
}

#algoTitle{
    -fx-font-color: green;
}

.settings-button{
    /*-fx-border-color: transparent;*/
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
.settings-button:focused{
    
    -fx-border-color: transparent;
    -fx-border-width: -1, -1;
    -fx-border-radius: 0, 0;
}

#active {
    -fx-background-color: #a9ff00;
}
#busy {
    -fx-background-color: #EED202;
}
#disabled{
    -fx-background-color: #B33A3A;
}
